<link rel="import" href="bower_components/polymer/polymer.html">

<link rel="import" href="my-font-styles.html">
<!--
`<my-font>` description.

Example:

```html
<my-font></my-font>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --my-font  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Mixin applied to :host font-family    | sans-serif  |

@demo demo/index.html
-->
<dom-module id="my-font">
  <template>
    <style include="my-font-styles"></style>
    <footer>
    	<p class="tagline">Banking on a brighter future.℠</p>
    </footer>
  </template>
  <script src="my-font.js"></script>
</dom-module>
