@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif;
  // @apply(--my-font);
}

:host([hidden]), [hidden] {
  display:none;
}

*, *:before, *:after {
  box-sizing: inherit;
}


@font-face {
  font-family: 'Benton Sans Regular';
  src: url('fonts/BentonSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/BentonSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/BentonSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/BentonSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/BentonSans-Regular.svg') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

footer {
    background-color: #072146;
    color: #bdbdbd;
    font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.tagline {
    font-family: "Benton Sans Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: #bdbdbd;
}
