<dom-module id="my-font-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
 }

:host([hidden]), [hidden] {
  display: none; }

*, *:before, *:after {
  box-sizing: inherit; }
 
footer {
  background-color: #072146;
  color: #bdbdbd;
  font-family: "BentonSansBBVA Medium", "Helvetica Neue", Arial, Helvetica, sans-serif; }

.tagline {
   font-family: "Benton Sans","Times New Roman", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #bdbdbd; }

</style></template></dom-module>